/* @IMPORT
 ========================= */
@import "components/_variables";
@import "helpers/_mixins";


/* DEFAULT
 ========================= */
* {
  box-sizing: border-box;
}

html {
  font-family: $GothamPro;
  font-size: $font-18-stack;
}

body {
  position: relative;
  display: block;
  font-family: $GothamPro;
  @include rem(fs, $font-18, $font-18-overall);
  @include rem(lh, $font-20, $font-18-overall);
  color: $color-0e1011;
  background-color: $color-ffffff;
}

.container {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1640px;
  padding: 0 10px;
  margin: 0 auto;
}

.body-hidden {
  overflow: hidden !important;
}

/* @IMPORT
 ========================= */
@import "sections/_header";
@import "sections/_work";
@import "sections/_result";
@import "sections/_about";
@import "sections/_services";
@import "sections/_objects";
@import "sections/_content";
@import "sections/_footer";