<!-- build:js js/vendor.min.js -->
<!-- bower:js -->
<script src="vendor/jquery/dist/jquery.js"></script>
<script src="vendor/html5shiv/dist/html5shiv.js"></script>
<script src="vendor/html5shiv/dist/html5shiv-printshiv.js"></script>
<script src="vendor/respond/dest/respond.src.js"></script>
<script src="vendor/respond/dest/respond.matchmedia.addListener.src.js"></script>
<script src="vendor/es5-shim/es5-shim.js"></script>
<script src="vendor/es5-shim/es5-sham.js"></script>
<script src="vendor/owl.carousel/dist/owl.carousel.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js js/common.min.js -->
<script type="text/javascript" src="js/common.js"></script>
<!-- endbuild -->