/* @IMPORT
 ========================= */
/* FONTS-FACE
 	@include font-face('FontAwesome', '../fonts/FontAwesome/fontawesome-webfont', normal, normal, eot woff2 woff ttf svg);
 ========================= */
/* PX in REM
 	@include rem(lh, 12, 16);
	@include rem(fs, 12, 16);
 ========================= */
/* PSEUDO
	@include pseudo(block, absolute, ' ');
 ========================= */
/* CLEARFIX
	@include clearfix()
 ========================= */
/* PLEACEHOLDER
	@include placeholder(red, normal, none)
 ========================= */
/* LIST-CLEAR
	@include list-clear()
 ========================= */
/* FONTS
 ========================= */
@font-face {
  font-family: "GothamPro";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/GothamPro/GothamPro.eot?") format("eot"), url("../fonts/GothamPro/GothamPro.otf") format("opentype"), url("../fonts/GothamPro/GothamPro.woff") format("woff"), url("../fonts/GothamPro/GothamPro.ttf") format("truetype"), url('../fonts/GothamPro/GothamPro.svg#str-replace("GothamPro", " ", "_")') format("svg"); }

@font-face {
  font-family: "GothamPro-Bold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/GothamPro-Bold/GothamPro-Bold.eot?") format("eot"), url("../fonts/GothamPro-Bold/GothamPro-Bold.otf") format("opentype"), url("../fonts/GothamPro-Bold/GothamPro-Bold.woff") format("woff"), url("../fonts/GothamPro-Bold/GothamPro-Bold.ttf") format("truetype"), url('../fonts/GothamPro-Bold/GothamPro-Bold.svg#str-replace("GothamPro-Bold", " ", "_")') format("svg"); }

@font-face {
  font-family: "GothamPro-Medium";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/GothamPro-Medium/GothamPro-Medium.eot?") format("eot"), url("../fonts/GothamPro-Medium/GothamPro-Medium.otf") format("opentype"), url("../fonts/GothamPro-Medium/GothamPro-Medium.woff") format("woff"), url("../fonts/GothamPro-Medium/GothamPro-Medium.ttf") format("truetype"), url('../fonts/GothamPro-Medium/GothamPro-Medium.svg#str-replace("GothamPro-Medium", " ", "_")') format("svg"); }

@font-face {
  font-family: "Font Awesome 5 Brands";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/webfonts/fa-brands-400.eot?") format("eot"), url("../fonts/webfonts/fa-brands-400.woff2") format("woff2"), url("../fonts/webfonts/fa-brands-400.woff") format("woff"), url("../fonts/webfonts/fa-brands-400.ttf") format("truetype"), url('../fonts/webfonts/fa-brands-400.svg#str-replace("Font Awesome 5 Brands", " ", "_")') format("svg"); }

@font-face {
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/webfonts/fa-regular-400.eot?") format("eot"), url("../fonts/webfonts/fa-regular-400.woff2") format("woff2"), url("../fonts/webfonts/fa-regular-400.woff") format("woff"), url("../fonts/webfonts/fa-regular-400.ttf") format("truetype"), url('../fonts/webfonts/fa-regular-400.svg#str-replace("Font Awesome 5 Free", " ", "_")') format("svg"); }

@font-face {
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/webfonts/fa-solid-900.eot?") format("eot"), url("../fonts/webfonts/fa-solid-900.woff2") format("woff2"), url("../fonts/webfonts/fa-solid-900.woff") format("woff"), url("../fonts/webfonts/fa-solid-900.ttf") format("truetype"), url('../fonts/webfonts/fa-solid-900.svg#str-replace("Font Awesome 5 Free", " ", "_")') format("svg"); }
