/* @IMPORT */
@import "../components/_variables";
@import "../helpers/_mixins";

.work {
  position: relative;
  display: block;
  background-color: $color-ffffff;
  padding: 80px 0;
}

.work-carousel__item {
  //width: 100%;
  height:154px;

}

.work-carousel__item {
  position: relative;
  display: block;


}

.work-carousel__link span {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  text-align: center;
  color: #ffffff;
}

.work-carousel__link {
  position: relative;
  display: block;
  background:               url('../img/14.png') no-repeat center,
  url('../img/12/12.jpg') no-repeat center;
  width: 100%;
  height:154px;
  max-width: 306px;
}