/* COLORS */
$color-0e1011: #0e1011;
$color-ffffff: #ffffff;
$color-2d3238: #2d3238;
$color-332512: #332512;
$color-d10c1d: #d10c1d;



/* FONTS */
$GothamPro: 'GothamPro', sans-serif;
$GothamPro-Bold: 'GothamPro-Bold', sans-serif;
$GothamPro-Medium: 'GothamPro-Medium', sans-serif;




/* SIZES */
$font-18-overall: 18;
$font-14: 14;
$font-16: 16;
$font-18: 18;
$font-20: 20;
$font-55: 55;
$font-65: 65;



/* MEDIA SIZES */
$phone: 320px; //_media.scss
$phone-landscape: 480px; //_media.scss
$tablet: 768px; //_media.scss
$desktop: 992px; //_media.scss
$site: 1280px; //_media.scss