
<div class="about">
    <div class="container">
        <div class="about-title">
            <h3 class="about-title__text">«АвтоТехИмпорт»</h3>
        </div>
        <p class="about-description__text" style="margin-bottom: 10px;">ООО «АвтоТехИмпорт» является официальным дилером компании AutoЕxport LLC США на территории Республики Беларусь и Российской Федерации. Являемся одним из наиболее надежных поставщиков б/у автомобилей и мотоциклов из США и стран Европы.
        </p>
        <p class="about-description__text" style="margin-bottom: 10px;">ООО «АвтоТехИмпорт» является официальным дилером компании AutoЕxport LLC США на территории Республики Беларусь и Российской Федерации. Являемся одним из наиболее надежных поставщиков б/у автомобилей и мотоциклов из США и стран Европы.
        </p>
        <p class="about-description__text" style="margin-bottom: 10px;">ООО «АвтоТехИмпорт» является официальным дилером компании AutoЕxport LLC США на территории Республики Беларусь и Российской Федерации. Являемся одним из наиболее надежных поставщиков б/у автомобилей и мотоциклов из США и стран Европы.
        </p>
        <p class="about-description__text" style="margin-bottom: 10px;">ООО «АвтоТехИмпорт» является официальным дилером компании AutoЕxport LLC США на территории Республики Беларусь и Российской Федерации. Являемся одним из наиболее надежных поставщиков б/у автомобилей и мотоциклов из США и стран Европы.
        </p>
        <p class="about-description__text" style="margin-bottom: 10px;">ООО «АвтоТехИмпорт» является официальным дилером компании AutoЕxport LLC США на территории Республики Беларусь и Российской Федерации. Являемся одним из наиболее надежных поставщиков б/у автомобилей и мотоциклов из США и стран Европы.
        </p>
        <p class="about-description__text" style="margin-bottom: 10px;">ООО «АвтоТехИмпорт» является официальным дилером компании AutoЕxport LLC США на территории Республики Беларусь и Российской Федерации. Являемся одним из наиболее надежных поставщиков б/у автомобилей и мотоциклов из США и стран Европы.
        </p>
        <p class="about-description__text" style="margin-bottom: 10px;">ООО «АвтоТехИмпорт» является официальным дилером компании AutoЕxport LLC США на территории Республики Беларусь и Российской Федерации. Являемся одним из наиболее надежных поставщиков б/у автомобилей и мотоциклов из США и стран Европы.
        </p>
    </div>
</div>