
<footer class="footer" id="footer">
    <div class="footer-info">
        <div class="container">
            <div class="footer-wrapper">
                <div class="footer-block-adress">
                    <div class="footer-title">
                        <h5 class="footer-title__text">«АвтоТехИмпорт»</h5>
                    </div>
                    <div class="footer-adress">
                        <p class="footer-adress__text">ООО «АвтоТехИмпорт»:</p>
                        <p class="footer-adress__text">220114 Республика Беларусь,</p>
                        <p class="footer-adress__text">г. Минск, ул. Кедышко, 26Б, ком.306</p>
                    </div>
                    <div class="footer-tel">
                        <a href="tel:+375296430307" class="footer-tel__link" title="+375297030307">+375 (29) <span class="footer-tel__link--bold">634-03-07</span></a>
                        <a href="tel:+375297030307" class="footer-tel__link" title="+375297030307">+375 (29) <span class="footer-tel__link--bold">703-03-07</span></a>
                        <a href="tel:+375291177770" class="footer-tel__link" title="+375297030307">+375 (29) <span class="footer-tel__link--bold">117-77-70</span></a>
                    </div>
                    <div class="footer-social">
                        <a href="https://web.facebook.com/xcarsby/" target="_blank" class="footer-social__link footer-social__link--facebook"><i class="fab fa-facebook"></i></a>
                        <a href="https://www.instagram.com/xcars.by/" target="_blank" class="footer-social__link footer-social__link--instagram"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
                <div class="footer-block-form">
                    <div class="footer-form">
                        <form action="POST" class="footer-form__form">
                            <h6 class="footer-form__title">Связаться с нами</h6>
                            <input type="text" placeholder="Имя" name="name" id="name" title="Имя" required="required" class="footer-form__input">
                            <input type="tel" placeholder="+ 375 ( _ ) __-___-__" name="tel" id="tel" title="+ 375 ( _ ) __-___-__" required="required" class="footer-form__input">
                            <input type="text" placeholder="Интересующий а/м и бюджет" name="message" id="message" title="Интересующий а/м и бюджет" required="required" class="footer-form__input">
                            <p class="footer-form__text">*Пожалуйста, заполните указанную информацию, чтобы мы скорее смогли вам помочь.</p>
                            <input type="submit" name="submit" title="Отправить" class="footer-form__submit" value="Отправить">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-map" id="map"></div>
</footer>