
<header class="header header-item">
   <div class="header-block">
      <div class="container">
         <div class="header-wrapper">
            <div class="header-logo">
               <a href="index.html" class="header-logo__link" title="xcars.by">
                  <img src="img/header/logo.png" alt="xcars.by" class="header-logo__img">
               </a>
            </div>
            <div class="header-burger">
               <button id="header-burger-btn" class="header-burger__btn" title="Меню" >Меню</button>
            </div>
            <div class="header-menu">
               <ul class="header-menu__list">
                  <li class="header-menu__item">
                     <a href="about.html" class="header-menu__link" title="О компании">О компании</a>
                  </li>
                  <li class="header-menu__item">
                     <a href="list.html" class="header-menu__link" title="Наши работы">Наши работы</a>
                  </li>
                  <li class="header-menu__item">
                     <a href="contact.html" class="header-menu__link" title="Контакты">Контакты</a>
                  </li>
               </ul>
            </div>
            <div class="header-tel">
               <ul class="header-tel__list">
                  <li class="header-tel__item">
                     <a href="tel:+375296430307" class="header-tel__link" title="+375296430307">+375 (29) <span class="header-tel__link--bold">643-03-07</span></a>
                  </li>
                  <li class="header-tel__item">
                     <a href="tel:+375297030307" class="header-tel__link" title="+375297030307">+375 (29) <span class="header-tel__link--bold">703-03-07</span></a>
                  </li>
                  <li class="header-tel__item">
                     <a href="tel:+375291177770" class="header-tel__link" title="+375291177770">+375 (29) <span class="header-tel__link--bold">117-77-70</span></a>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
   <div class="header-info">
      <div class="container">
         <div class="header-info-title">
            <div class="header-title">
               <h1 class="header-title__text">Наши работы</h1>
            </div>
         </div>
      </div>
   </div>
</header>