
<div class="objects objects-list">
    <div class="container">
        <div class="objects-list-block">
            <ul class="objects-list-block__list">
                <li class="objects-list-block__item">
                    <img class="objects-list-block__img" src="img/delete.jpg" alt="Продукт-1">
                    <div class="objects-info">
                        <div class="objects-info-description">
                            <h6 class="objects-info-description__title">Ford Fusion 2016</h6>
                            <p class="objects-info-description__text">пробег 10271</p>
                            <p class="objects-info-description__price">Итоговая цена<span class="objects-info-description__value">5600</span></p>
                        </div>
                        <div class="objects-info-more">
                            <a href="item.html" class="objects-info-more__link">Подробнее</a>
                        </div>
                    </div>
                </li>
                <li class="objects-list-block__item">
                    <img class="objects-list-block__img" src="img/delete.jpg" alt="Продукт-2">
                    <div class="objects-info">
                        <div class="objects-info-description">
                            <h6 class="objects-info-description__title">Ford Fusion 2016</h6>
                            <p class="objects-info-description__text">пробег 10271</p>
                            <p class="objects-info-description__price">Итоговая цена<span class="objects-info-description__value">5600</span></p>
                        </div>
                        <div class="objects-info-more">
                            <a href="item.html" class="objects-info-more__link">Подробнее</a>
                        </div>
                    </div>
                </li>
                <li class="objects-list-block__item">
                    <img class="objects-list-block__img" src="img/delete.jpg" alt="Продукт-3">
                    <div class="objects-info">
                        <div class="objects-info-description">
                            <h6 class="objects-info-description__title">Ford Fusion 2016</h6>
                            <p class="objects-info-description__text">пробег 10271</p>
                            <p class="objects-info-description__price">Итоговая цена<span class="objects-info-description__value">5600</span></p>
                        </div>
                        <div class="objects-info-more">
                            <a href="item.html" class="objects-info-more__link">Подробнее</a>
                        </div>
                    </div>
                </li>
                <li class="objects-list-block__item">
                    <img class="objects-list-block__img" src="img/delete.jpg" alt="Продукт-3">
                    <div class="objects-info">
                        <div class="objects-info-description">
                            <h6 class="objects-info-description__title">Ford Fusion 2016</h6>
                            <p class="objects-info-description__text">пробег 10271</p>
                            <p class="objects-info-description__price">Итоговая цена<span class="objects-info-description__value">5600</span></p>
                        </div>
                        <div class="objects-info-more">
                            <a href="item.html" class="objects-info-more__link">Подробнее</a>
                        </div>
                    </div>
                </li>
                <li class="objects-list-block__item">
                    <img class="objects-list-block__img" src="img/delete.jpg" alt="Продукт-1">
                    <div class="objects-info">
                        <div class="objects-info-description">
                            <h6 class="objects-info-description__title">Ford Fusion 2016</h6>
                            <p class="objects-info-description__text">пробег 10271</p>
                            <p class="objects-info-description__price">Итоговая цена<span class="objects-info-description__value">5600</span></p>
                        </div>
                        <div class="objects-info-more">
                            <a href="item.html" class="objects-info-more__link">Подробнее</a>
                        </div>
                    </div>
                </li>
                <li class="objects-list-block__item">
                    <img class="objects-list-block__img" src="img/delete.jpg" alt="Продукт-2">
                    <div class="objects-info">
                        <div class="objects-info-description">
                            <h6 class="objects-info-description__title">Ford Fusion 2016</h6>
                            <p class="objects-info-description__text">пробег 10271</p>
                            <p class="objects-info-description__price">Итоговая цена<span class="objects-info-description__value">5600</span></p>
                        </div>
                        <div class="objects-info-more">
                            <a href="item.html" class="objects-info-more__link">Подробнее</a>
                        </div>
                    </div>
                </li>
                <li class="objects-list-block__item">
                    <img class="objects-list-block__img" src="img/delete.jpg" alt="Продукт-3">
                    <div class="objects-info">
                        <div class="objects-info-description">
                            <h6 class="objects-info-description__title">Ford Fusion 2016</h6>
                            <p class="objects-info-description__text">пробег 10271</p>
                            <p class="objects-info-description__price">Итоговая цена<span class="objects-info-description__value">5600</span></p>
                        </div>
                        <div class="objects-info-more">
                            <a href="item.html" class="objects-info-more__link">Подробнее</a>
                        </div>
                    </div>
                </li>
                <li class="objects-list-block__item">
                    <img class="objects-list-block__img" src="img/delete.jpg" alt="Продукт-3">
                    <div class="objects-info">
                        <div class="objects-info-description">
                            <h6 class="objects-info-description__title">Ford Fusion 2016</h6>
                            <p class="objects-info-description__text">пробег 10271</p>
                            <p class="objects-info-description__price">Итоговая цена<span class="objects-info-description__value">5600</span></p>
                        </div>
                        <div class="objects-info-more">
                            <a href="item.html" class="objects-info-more__link">Подробнее</a>
                        </div>
                    </div>
                </li>
                <li class="objects-list-block__item">
                    <img class="objects-list-block__img" src="img/delete.jpg" alt="Продукт-1">
                    <div class="objects-info">
                        <div class="objects-info-description">
                            <h6 class="objects-info-description__title">Ford Fusion 2016</h6>
                            <p class="objects-info-description__text">пробег 10271</p>
                            <p class="objects-info-description__price">Итоговая цена<span class="objects-info-description__value">5600</span></p>
                        </div>
                        <div class="objects-info-more">
                            <a href="item.html" class="objects-info-more__link">Подробнее</a>
                        </div>
                    </div>
                </li>
                <li class="objects-list-block__item">
                    <img class="objects-list-block__img" src="img/delete.jpg" alt="Продукт-2">
                    <div class="objects-info">
                        <div class="objects-info-description">
                            <h6 class="objects-info-description__title">Ford Fusion 2016</h6>
                            <p class="objects-info-description__text">пробег 10271</p>
                            <p class="objects-info-description__price">Итоговая цена<span class="objects-info-description__value">5600</span></p>
                        </div>
                        <div class="objects-info-more">
                            <a href="item.html" class="objects-info-more__link">Подробнее</a>
                        </div>
                    </div>
                </li>
                <li class="objects-list-block__item">
                    <img class="objects-list-block__img" src="img/delete.jpg" alt="Продукт-3">
                    <div class="objects-info">
                        <div class="objects-info-description">
                            <h6 class="objects-info-description__title">Ford Fusion 2016</h6>
                            <p class="objects-info-description__text">пробег 10271</p>
                            <p class="objects-info-description__price">Итоговая цена<span class="objects-info-description__value">5600</span></p>
                        </div>
                        <div class="objects-info-more">
                            <a href="item.html" class="objects-info-more__link">Подробнее</a>
                        </div>
                    </div>
                </li>
                <li class="objects-list-block__item">
                    <img class="objects-list-block__img" src="img/delete.jpg" alt="Продукт-3">
                    <div class="objects-info">
                        <div class="objects-info-description">
                            <h6 class="objects-info-description__title">Ford Fusion 2016</h6>
                            <p class="objects-info-description__text">пробег 10271</p>
                            <p class="objects-info-description__price">Итоговая цена<span class="objects-info-description__value">5600</span></p>
                        </div>
                        <div class="objects-info-more">
                            <a href="item.html" class="objects-info-more__link">Подробнее</a>
                        </div>
                    </div>
                </li>
                <li class="objects-list-block__item">
                    <img class="objects-list-block__img" src="img/delete.jpg" alt="Продукт-1">
                    <div class="objects-info">
                        <div class="objects-info-description">
                            <h6 class="objects-info-description__title">Ford Fusion 2016</h6>
                            <p class="objects-info-description__text">пробег 10271</p>
                            <p class="objects-info-description__price">Итоговая цена<span class="objects-info-description__value">5600</span></p>
                        </div>
                        <div class="objects-info-more">
                            <a href="item.html" class="objects-info-more__link">Подробнее</a>
                        </div>
                    </div>
                </li>
                <li class="objects-list-block__item">
                    <img class="objects-list-block__img" src="img/delete.jpg" alt="Продукт-2">
                    <div class="objects-info">
                        <div class="objects-info-description">
                            <h6 class="objects-info-description__title">Ford Fusion 2016</h6>
                            <p class="objects-info-description__text">пробег 10271</p>
                            <p class="objects-info-description__price">Итоговая цена<span class="objects-info-description__value">5600</span></p>
                        </div>
                        <div class="objects-info-more">
                            <a href="item.html" class="objects-info-more__link">Подробнее</a>
                        </div>
                    </div>
                </li>
                <li class="objects-list-block__item">
                    <img class="objects-list-block__img" src="img/delete.jpg" alt="Продукт-3">
                    <div class="objects-info">
                        <div class="objects-info-description">
                            <h6 class="objects-info-description__title">Ford Fusion 2016</h6>
                            <p class="objects-info-description__text">пробег 10271</p>
                            <p class="objects-info-description__price">Итоговая цена<span class="objects-info-description__value">5600</span></p>
                        </div>
                        <div class="objects-info-more">
                            <a href="item.html" class="objects-info-more__link">Подробнее</a>
                        </div>
                    </div>
                </li>
                <li class="objects-list-block__item">
                    <img class="objects-list-block__img" src="img/delete.jpg" alt="Продукт-3">
                    <div class="objects-info">
                        <div class="objects-info-description">
                            <h6 class="objects-info-description__title">Ford Fusion 2016</h6>
                            <p class="objects-info-description__text">пробег 10271</p>
                            <p class="objects-info-description__price">Итоговая цена<span class="objects-info-description__value">5600</span></p>
                        </div>
                        <div class="objects-info-more">
                            <a href="item.html" class="objects-info-more__link">Подробнее</a>
                        </div>
                    </div>
                </li>
                <li class="objects-list-block__item">
                    <img class="objects-list-block__img" src="img/delete.jpg" alt="Продукт-1">
                    <div class="objects-info">
                        <div class="objects-info-description">
                            <h6 class="objects-info-description__title">Ford Fusion 2016</h6>
                            <p class="objects-info-description__text">пробег 10271</p>
                            <p class="objects-info-description__price">Итоговая цена<span class="objects-info-description__value">5600</span></p>
                        </div>
                        <div class="objects-info-more">
                            <a href="item.html" class="objects-info-more__link">Подробнее</a>
                        </div>
                    </div>
                </li>
                <li class="objects-list-block__item">
                    <img class="objects-list-block__img" src="img/delete.jpg" alt="Продукт-2">
                    <div class="objects-info">
                        <div class="objects-info-description">
                            <h6 class="objects-info-description__title">Ford Fusion 2016</h6>
                            <p class="objects-info-description__text">пробег 10271</p>
                            <p class="objects-info-description__price">Итоговая цена<span class="objects-info-description__value">5600</span></p>
                        </div>
                        <div class="objects-info-more">
                            <a href="item.html" class="objects-info-more__link">Подробнее</a>
                        </div>
                    </div>
                </li>
                <li class="objects-list-block__item">
                    <img class="objects-list-block__img" src="img/delete.jpg" alt="Продукт-3">
                    <div class="objects-info">
                        <div class="objects-info-description">
                            <h6 class="objects-info-description__title">Ford Fusion 2016</h6>
                            <p class="objects-info-description__text">пробег 10271</p>
                            <p class="objects-info-description__price">Итоговая цена<span class="objects-info-description__value">5600</span></p>
                        </div>
                        <div class="objects-info-more">
                            <a href="item.html" class="objects-info-more__link">Подробнее</a>
                        </div>
                    </div>
                </li>
                <li class="objects-list-block__item">
                    <img class="objects-list-block__img" src="img/delete.jpg" alt="Продукт-3">
                    <div class="objects-info">
                        <div class="objects-info-description">
                            <h6 class="objects-info-description__title">Ford Fusion 2016</h6>
                            <p class="objects-info-description__text">пробег 10271</p>
                            <p class="objects-info-description__price">Итоговая цена<span class="objects-info-description__value">5600</span></p>
                        </div>
                        <div class="objects-info-more">
                            <a href="item.html" class="objects-info-more__link">Подробнее</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>