
<div class="services">
    <div class="container">
        <div class="services-title">
            <h4 class="services-title__text">Пакеты услуг</h4>
        </div>
        <div class="services-list-block">
            <ul class="services-list-block__list">
                <li class="services-list-block__item">
                    <a href="#" class="services-list-block__link" title="Базовый">
                        <img class="services-list-block__img" src="img/services/basic.jpg" alt="basict">
                        <div class="services-list-block__wrapper">
                            <h5 class="services-list-block__title">Базовый</h5>
                            <div class="services-list-block__text">Покупка на аукционе</div>
                            <div class="services-list-block__text">Доставка в порт</div>
                            <div class="services-list-block__text">Доставка до Клайпеды или Минска</div>
                        </div>
                    </a>
                </li>
                <li class="services-list-block__item">
                    <a href="#" class="services-list-block__link" title="Расширенный">
                        <img class="services-list-block__img" src="img/services/extended.jpg" alt="extended">
                        <div class="services-list-block__wrapper">
                            <h5 class="services-list-block__title">Расширенный</h5>
                            <div class="services-list-block__text">Покупка на аукционе</div>
                            <div class="services-list-block__text">Доставка на нашу площадку</div>
                            <div class="services-list-block__text">Дефектовка</div>
                            <div class="services-list-block__text">Комплектация з/ч (при необходимости)</div>
                            <div class="services-list-block__text">Доставка до Минска</div>
                        </div>
                    </a>
                </li>
                <li class="services-list-block__item">
                    <a href="#" class="services-list-block__link" title="Под ключ">
                        <img class="services-list-block__img" src="img/services/full-construction.jpg" alt="full construction">
                        <div class="services-list-block__wrapper">
                            <h5 class="services-list-block__title">Под ключ</h5>
                            <div class="services-list-block__text">вы получаете автомобиль, готовый к постановке на учет</div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>