
<div class="work">
    <div class="container">
        <div class="work-title">
            <h4 class="work-title__text">Работаем с самыми популярными аукционами</h4>
        </div>
        <div class="work-brands">
            <ul class="work-brands__list owl-carousel" id="work-brands-list">
                <li class="work-brands__item">
                    <a href="#" class="work-brands__link work-brands__link--manheim" title="manheim.com">
                        <span class="work-brands__text">manheim.com</span>
                    </a>
                </li>
                <li class="work-brands__item">
                    <a href="#" class="work-brands__link work-brands__link--copart" title="copart.com">
                        <span class="work-brands__text">copart.com</span>
                    </a>
                </li>
                <li class="work-brands__item">
                    <a href="#" class="work-brands__link work-brands__link--iaai" title="iaai.com">
                        <span class="work-brands__text">iaai.com</span>
                    </a>
                </li>
                <li class="work-brands__item">
                    <a href="#" class="work-brands__link work-brands__link--rbauction" title="rbauction.com">
                        <span class="work-brands__text">rbauction.com</span>
                    </a>
                </li>
                <li class="work-brands__item">
                    <a href="#" class="work-brands__link work-brands__link--npauctions" title="npauctions.com">
                        <span class="work-brands__text">npauctions.com</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
