
<div class="work">
    <div class="container">
        <div class="work-title">
            <h4 class="work-title__text">Работаем с самыми популярными аукционами</h4>
        </div>
        <div class="work-carousel">
            <ul class="work-carousel__list owl-carousel">
                <li class="work-carousel__item">
                    <a href="#" class="work-carousel__link"><span>copart.com</span></a>
                </li>
                <li class="work-carousel__item">
                    <a href="#" class="work-carousel__link"><span>copart.com</span></a>
                </li>
                <li class="work-carousel__item">
                    <a href="#" class="work-carousel__link"><span>copart.com</span></a>
                </li>
                <li class="work-carousel__item">
                    <a href="#" class="work-carousel__link"><span>copart.com</span></a>
                </li>
                <li class="work-carousel__item">
                    <a href="#" class="work-carousel__link"><span>copart.com</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>

