<!DOCTYPE html>
<html lang="ru-RU">
	<head>

		<title>XCARS.by</title>

		<meta charset="UTF-8">
		<meta name="description" content="XCARS.by">
		<meta name="keywords" content="XCARS.by">
		<meta name="author" content="XCARS.by">

		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		<link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
		<link rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png">
   
		//= helpers/head.html

	</head>
	<body>

		//= sections/header-item.html
		//= sections/content-item.html
		//= helpers/end-page.html

	</body>
</html>